<% include partials/header %>

<h2 class="strokeme text-center">Post a Beach</h2>
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <form action="/beaches" method="POST" class="d-flex flex-column">
                <input style="width: 25vw;" class="d-block text-center" type="text" placeholder="Enter the name of the beach" name="name">
                <input style="width: 25vw;" class="d-block text-center" type="text" placeholder="Enter an image addess" name="image">
                <input style="width: 25vw; height: 25vh"class="d-block text-center"type="text" placeholder="Anything you want people to know?" name="comment">
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<% include partials/footer %>