<% include partials/header %>

<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h2 class="strokeme"><%= beach.name %></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <img src="<%= beach.image %>" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h3 class="strokeme my-2"><%= beach.comments %></h3>
    </div>
  </div>
</div>

<% include partials/footer %>
